html {
	box-sizing: content-box;
	width: 100%;
	font-size: 100%;
}
body {
	background-color: #1F434F;
	margin: 0 auto;
	padding: 0;
}
@media screen and (min-width: 700px) {
.MainImage {
	margin: 0 auto;
	align-content: center;
	float: left;
}
.MainImage img {
	height: 700px;
	width: 1349px;
	filter: blur(5px);
}
.text {
	position: absolute;
	margin-top: 20px;
	top: 280px;
	left: 700px;
	font-style: oblique;
	color: white;
	line-height: 0.8;
}
.Registration {
	padding:60px 0 0 100px;
	position: absolute;
	float: right;
	margin: auto;
	height: 300px;

}
.Buttons {
	margin-top: 40px;
	font-size: 40px;
	width: 400px;
	padding: 30px;
	border: none;
	border-radius: 6px;
}
.Acc {
	text-align: center;
	font-size: 30px;
}
.Registration p {
	color: white;
}
.Goods {
	position: absolute;
	width: 1349px;
	height: 100px;
	margin-top: 700px;
	background-color: #0E2A52;
	box-shadow: inset 0px 0px 8px 0px #1F434F;
	color: gray;
	text-align: center;
	font-size: 25px;
	font-style: oblique;
}
.Books {
	position: absolute;
	margin-top: 750px;

}
.Books tr {
	margin: auto;
}
#Book {
	width: 445px;
	color: white;
	font-size: 30px;
	padding-top: 100px;
}
#Book img {
	padding-left: 100px;
	width: 150px;
	height: 225px;
}
}